---
---

@import "{{ site.theme }}";

.site-nav {
  margin: 1rem 0 1.5rem 0;
}

.site-nav a {
  margin-right: 1rem;
  text-decoration: none;
}

.site-nav a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 820px;
}
