---
---

@import "{{ site.theme }}";

.site-nav {
  margin: 1rem 0 1.5rem 0;
}

.site-nav a {
  margin-right: 1rem;
  text-decoration: none;
}

.site-nav a:hover {
  text-decoration: underline;
}

.wrapper {
  max-width: 820px;
}

/* Softer heading hierarchy for content-heavy pages */

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 1.8em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 1.4em;
  margin-bottom: 0.4em;
}
